<%- include("templates/header") %>

<div class="container d-flex justify-content-center">
<a href="/login"><button class = "btn btn-primary">LOGIN</button></a>
<br/><br/>
<a href="/signup"><button class = "btn btn-primary">SIGNUP</button></a>
</div>    
<%- include("templates/footer") %>