<%- include("templates/header") %>
    <h1>Login Page</h1>
    <form method="post" action="/loginSubmit">
    <input type="email" name="email" placeholder="email" />
    <br/><input type="password" name="password" placeholder="password" />
    <br/><input type="submit" value="Login" />
    </form>
<%- include("templates/footer") %>