<%- include("templates/header") %>
    <h1>Hello, <%=name%></h1>
    <img src="/giphy1.gif" alt="a gif" style="width:300px">
    <img src="/giphy2.gif" alt="a gif" style="width:300px">
    <img src="/giphy3.gif" alt="a gif" style="width:300px">
    <br/>
    <a href="/logout"><button>LOGOUT</button></a>`
    
<%- include("templates/footer") %>