<li> <%= user.name %> ( <%= user.user_type %>)  
    <form method="post" action="/promote">
        <input type="hidden" name="email" value="<%= user.email %>">
        <button type="submit" class = "btn btn-success">Promote to admin</button>
    </form>

    <form method="post" action="/demote"> <input type="hidden" name="email" value="<%= user.email %>">
        <button type="submit" class = "btn btn-danger">Demote to User</button>
    </form>
